<h1>Order for customer {{model.customer_id}}</h1>

<div class="container">
    <div class="list-group">
        <div ng-repeat="order in model.orders" href="#/foodin-order" class="list-group-item">

            <div><a href="#/foodin-order/{{order.order_id}}">Order ID: {{order.order_id}} </a><div class="pull-right">{{order.bill}}
<a ng-click="model.removeOrderByOrderId(order.order_id)" role="button">
               <span  class="glyphicon glyphicon-remove text-primary" aria-hidden="true"></span>
</a>

            </div></div>
           </div>
    </div>
</div>
<div class="form-group">
    <a class="btn btn-success" ng-click="model.getBillByCustomerId(model.customer_id)" role="button">Check Out</a>
    <div ng-show="model.bill" class="alert alert-warning">
        {{model.bill}}$
    </div>
</div>
