
<h1>Food in Order {{model.order_id}}</h1>
                <div class="container">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>order id</th>
                            <th>Price</th>
                            <th>HasServed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="food in model.foods">
                            <td>{{food.dish_name}} </td>
                            <td>{{food.price}}</td>
                            <td ng-show="food.hasServed==1">yes</td>
                            <td ng-show="food.hasServed==0">No</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="navbar-brand glyphicon glyphicon-play text-primary pull-left" aria-hidden="true"></span>
        </a>

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="navbar-brand glyphicon glyphicon-eye-open text-primary pull-left"
                      aria-hidden="true"></span>
        </a>
        <a href="#/profile/{{model.userId}}">
            <span class="navbar-brand glyphicon glyphicon-user text-primary pull-right" aria-hidden="true"></span>
        </a>
    </div>
</footer>