<h2>Restaurant Ordering System</h2>

<h3>Pick A Table</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-4 rcorners2" ng-repeat="table in model.tables">
        <a href="#/table/{{table.table_id}}">
            <h4>Dining Table</h4>
            <h4>ID:{{table.table_id}} </h4>
            <h4>Size:{{table.table_size}} </h4>
            <h4>Customer Number: {{table.customer_number}} </h4>
        </a>
        </div>
    </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="navbar-brand glyphicon glyphicon-play text-primary pull-left" aria-hidden="true"></span>
        </a>

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="navbar-brand glyphicon glyphicon-eye-open text-primary pull-left"
                      aria-hidden="true"></span>
        </a>
        <a href="#/profile/{{model.userId}}">
            <span class="navbar-brand glyphicon glyphicon-user text-primary pull-right" aria-hidden="true"></span>
        </a>
    </div>
</footer>